base-de-cores {
    color: #387df2;
    color: #0d0f0e;
    color: #707172;
    color: #403d3b;
    color: #f3f3f3;
    color: #4369bd;
    color: #eee;
    color: #c9c7c7;
}
/* body{
    margin: 0;
} */
.inform{
    text-align: center;
    align-items: center;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
     display: flex;
    }
.inicio{
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
     background-image: url(../img/montanhasitio/bg02.jpg);
     /* height: 100vh; */
     /* max-height: 300px; */
}
@media only screen and (max-width : 600px) {
    .inicio{
        background-size: 100%;
        background-repeat: no-repeat;
         background-image: url(../img/montanhasitio/bg02.jpg);
         height: 50vh;
    }
    .inform {
      /* background-color: lightblue; */
     display: inline-block ;
     /* max-width: 300px; */
     /* flex-direction: row; */
    /* color: #707172; */
    }
  }
.inicio nav div img{
    width: 50px;
}

.nav{
    display: inline-flex ;
}

nav ul {
    align-content: unset;
    display: inline-flex;
    list-style: none;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.explore{
    margin-top: 0;
    text-align: center;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color:#eee;
}
/* .fa-hiking{
    margin-top: 25px;
    font-size: 30px;
}
.fa-campground{
    font-size: 30px;
}
.fa-swimmer{
    font-size: 30px;
} */
.icon{
    font-size: 35px;
}


/*.atividades{
    text-align: center;
}

 .camping{
    text-align: center;
}

.lazer{
    text-align: center;
}

.contato{
    text-align: center;
} */

.infor{
    width: 300px;
    margin: auto;
}
.contato{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    width: 260px;
    text-align: right;
    margin: auto;
}
.contato h1{
    text-align: center;
}
.galeria img{
    max-width: 275px;
    align-items: center;
}