base-de-cores {
    color: #387df2;
    color: #0d0f0e;
    color: #707172;
    color: #403d3b;
    color: #f3f3f3;
    color: #4369bd;
    color: #eee;
    color: #c9c7c7;
}
 
html, body{
    background-color: #f3f3f3;
    margin: 0;
    height: 100%;
}
body{
  display: flex;
  flex-direction: column;
}
/* h1,h2,h3,h4{
    font-family:Tahoma, Geneva, Verdana, sans-serif; ;
    font-size: 20px;
} */
h1,h2,h3,h4,h5,h6,p,button,.contato .link{
    font-family:Tahoma, Verdana, Geneva,  sans-serif;
}
.baner{ 
    background-image: url(/img/montanhasitio/IMG-20160515-WA0006.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* height: 5%; */ 
 }

 /* .nav ul li{
     margin-right: 20px;
     color: #f3f3f3;
 } */
.explore{
    text-align: center;
    display: grid;
    /* direction: ltr; */
    font-size: 30pt;
    color: #eee;
    /* font-size: unset; */
    align-content: center;
    align-items: center;
    height: 200px;
   
}
.explore h1{
    margin: 0;
    /* padding: 10px; */
}
.explore h1,
    .icon{
        font-size: 15pt;
    }

.content{
    flex: 1 0 auto;
}
.footer{
    flex-shrink: 0;
    background-color:#707172;
}
footer .fab{
     padding: 25px;
     font-size: 20px;
}
.logo {
    position: absolute;
    width: 67px;
    padding: 15px;
    display: flex;
    /* margin-right: auto; */
    /* margin-left: 10px; */
}

.img-galeria{
    margin-right: auto;
    margin-left: auto;
    width: 312px;
    display: block;
   
}

ul{
    list-style: none;
    margin-left: auto;
}

button{
    /* margin-right: auto; */
    /* margin-left: auto; */
    background-color: #707172;
    /* border-radius: 12px; */
    color: #f3f3f3;
}

.descricao h2{
    font-size: 14pt;
}
.descricao{
    max-width: 300px;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.sobre{
    /* background-color: #c9c7c7; */
    width: 100%;
    margin: 0;
    text-align: center;
}
.contato h1{
    text-align: center;
    margin: 10px;

}
.contato{
    width: 190px;
    /* text-align: center; */
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    /* background-color:#c9c7c7; */
}

.img-galeria{
    width: 312px;
    border-radius: 6px;
}
.entreemcontato{
    text-align: center;
    width: 100%;
}
.mapa{
    margin-left: auto;
    margin-right: auto;
}
.localizacao{
    text-align: center;
}


input{
    border: #707172;
    height: 15pt;
    border: #707172;
    border-style: solid;
}
.localizacao{
    color: #707172;
}

.contato h1{
    text-align: center;
    /* margin: 10px; */
}

iframe{
    width: 300px;
    height: 200px;
}

.numbertext{
    text-align: center;
}
.text{
    text-align: center;
}

.mySlides{
    /* display: flex; */
    align-items: center;
}
.galeria{
    /* width: 100%; */
    /* display: flex; */
    align-content: center;
}

.buton-modal{
    align-items: center;
    align-content: center;
    /* margin: 10px; */
    /* margin: 10% 3% 10% 0%; */
    width: 15px;
    background-image: url('/img/montanhasitio/IMG_0027.JPG');
    background-size: 2px;
}
.prev{
    margin: 10% 3% 10% 0%;
}
.next{
    margin: 10% 0% 10% 3%;
}
.icon{
    padding: 10px;
    font-size: 20pt;
}
.indenimg{
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: -50px; */
}
.img-icon{
   width: 40px;
   padding: 5px;
    border-radius: 12px;
}
.link{
    color: black;
    /* font-style: italic; */
    text-decoration: none;
}
.form{
        background-color: #f3f3f3;
        border-radius: 15px;
        width: 200px;
        color: #707172;
    }
    .item-form{
        padding: 5px;
        font-size: 20pt;
        font:bold;
        color: #707172;
        display: block;
        text-align: center;
    }
.iten-entrecontato{
    margin-left: auto;
    margin-right: auto;
}
form h1{
    font-size: 25pt;
}
@media   (min-width : 600px) {
    .entreemcontato{
        text-align: center;
        display: inline-flex;
    }
    .form{
        background-color: #f3f3f3;
        border-radius: 15px;
        width: 200px;
        color: #707172;
    }
    .item-form{
        padding: 5px;
        font-size: 20pt;
        font:bold;
        color: #707172;
        display: block;
        text-align: center;
    }
    .descricao h2{
        font-size: 20pt;
    }
    .img-galeria{
        margin-right: auto;
        margin-left: auto;
        width: 312px;
        display: block;
    }
    .sobre{
        display: inline-flex;
        text-align: center;
    }
    .content{
        flex: 1 0 auto;
        /* max-width: 700px; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        text-align: center;
    }
    /* .footer{
        flex-shrink: 0;
        display: flex;
      text-align: center;
    } */
    iframe{
        width: 600px;
        height: 420px;
    }
    .img-galeria{
        width: 600px;
        border-radius: 12px;
    }
    .explore h1,
    .icon{
        font-size: 35pt;
    }
    .explore{
        text-align: center;
        display: grid;
        /* direction: ltr; */
        font-size: 30pt;
        color: #eee;
        /* font-size: unset; */
        align-content: center;
        align-items: center;
        height: 400px;
       
    }
    
    .icon{
        font-size: 40pt;
    }
    /* .slideshow-container{
        display: inline-flex;
        align-items: center;
        text-align: center;
    } */
    .img-icon{
        width: 80px;
     }
}


