base-de-cores {
    color: #387df2;
    color: #0d0f0e;
    color: #707172;
    color: #403d3b;
    color: #f3f3f3;
    color: #4369bd;
    color: #eee;
    color: #c9c7c7;
}
body{
    background-color: #0d0f0e;
    align-items: flex-end;
    margin: 0;
    margin-top: 0;
}
/* HOME */
.inicio{
    display: block;
    background-image:   url("../img/montanhasitio/395b0302-13e1-4ae4-a576-fe6f1c9b1b13.jpg") ; 
    background-repeat: no-repeat; 
    background-size: 100%;
    /* background: opacity: 35%; */
    /* opacity: 35%; */
    margin: 0;
    width: 100%;
    height: 100vh;
    color:#eee;
}
header nav ul{
    list-style: none;
    text-transform: uppercase;
    display: inline-flex;
    margin-right: 10px;
    margin-left: auto;
}
header nav ul li{
    text-align: center;
    text-justify: auto;
    margin: 5px;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    font-style: #eee bold  30px ;
    color: #eee;
}
header nav ul li a{
    color: #eee;
    font-family: Tahoma, Verdana, Geneva,  sans-serif;
    font-style: normal;
}
.logo{
    max-width: 150px;
}
.nav{
    display: flex ;
    align-items: center;
    margin: 25px;
    margin-top: 0;
}
.explore{
    align-items: center;
    text-align: center;
}
.explore h1{
     font-size: 100px;
     margin: 0 0 0 0;
    /* mix-blend-mode: difference; */
}
.fa-hiking{
    font-size: 100px;
    margin: 20px;
}
 .fa-swimmer{
    font-size: 100px;
    margin: 25px;
}
.fa-campground{
    font-size: 100px;
    margin: 20px;
}

/* ATIVIDADES */
.inforatividades{
    background-color: #c9c7c7;
    display: inline-flex;
    width: 100%;
    text-align: center;
}
.infor{
    text-align: center;
    width: 50vh;
}

.atividades{
    
    background-image: url("../img/montanhasitio/IMG-20160515-WA0006.jpg") ; 
    background-repeat: no-repeat; 
    background-size: 100%;
    height: 100vh;
    width: 100%;
    
}
.inforcamping{
    background-color: #c9c7c7;
    display: inline-flex;
    width: 100%;
    text-align: center;
}
.camping{
    
    background-image: url("../img/montanhasitio/IMG-20160708-WA0011.jpg") ; 
    background-repeat: no-repeat; 
    background-size: 100%;
    height: 100vh;
    width: 100%;
    
}
.inforlazer{
    background-color: #c9c7c7;
    display: inline-flex;
    width: 100%;
    text-align: center;
}


.lazer{
    
    background-image: url("../img/montanhasitio/IMG-20160708-WA0009.jpg") ; 
    background-repeat: no-repeat; 
    background-size: 100%;
    height: 100vh;
    /* width: 100%; */
    
}

.contato{
    background-color: #c9c7c7;
    height: 50vh;
   
    
}

.contato h1{
     text-align: center;
     text-transform: uppercase;
}

.contato form{
    text-transform: uppercase;
    text-align: right;
}
.entreemcontato{
    display: block;
}
div input {
    margin: 5px;
}