base-de-cores {
    color: #387df2;
    color: #0d0f0e;
    color: #707172;
    color: #403d3b;
    color: #f3f3f3;
    color: #4369bd;
    color: #eee;
    color: #c9c7c7;
}
 
html, body{
    background-color: #c9c7c7;
    margin: 0;
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
}
/* h1,h2,h3,h4{
    font-family:Tahoma, Geneva, Verdana, sans-serif; ;
    font-size: 20px;
} */
.baner{ 
    background-image: url(/img/montanhasitio/IMG-20160515-WA0006.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* height: 15%;  */
 }

 .nav ul li{
     margin-right: 20px;
     color: #000;
 }
.explore{
    /* position: relative; */
    padding: 22%;
    text-align: center;
    font-size: 30pt;
    color:#eee;
    font-size: unset;
    align-content: center;
}
.nav, .footer{
    background-color:#707172;
}
.nav {
    height: 100px;
    display: flex;
    width: 100%;
}
.content{
    flex: 1 0 auto;

}
.logo {
    width: 80px;
    padding: 15px;
}
.footer{
    flex-shrink: 0;
}
footer .fab{
     padding: 25px;
     font-size: 20px;
}

ul{
    list-style: none;
    margin-left: auto;
}

  button{
    margin-right: auto;
    margin-left: auto;
    background-color: #707172;
    border-radius: 12px;
}


.descricao{
    max-width: 300px;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.sobre{
    background-color: #c9c7c7;
    margin: 0;
    text-align: center;
}
.contato h1{
    text-align: center;
    margin: 10px;

}

.contato{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    width: 260px;
    text-align: right;
    margin: auto;
    background-color:#c9c7c7;
}
.form{
    background-color: #f3f3f3;
    border-radius: 15px;
    width: 280px;
}

.item-form{
    padding: 5px;
    font-size: 20px;
    font-family:Tahoma, Verdana, Geneva,  sans-serif;
    font: bold;
    color: #707172;
}
.entreemcontato{
    text-align: center;
    width: 100%;
}
.mapa{
    margin-left: auto;
    margin-right: auto;
}
.localizacao{
    text-align: center;
}
.contato{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    width: 260px;
    text-align: right;
    margin: auto;
 }

input{
    width: 136px;
    border: none;
    border-bottom-style: outset;
    border-color:#0d0f0e;
}
.contato h1{
    text-align: center;
    margin: 10px;
  
}

iframe{
    width: 300px;
    height: 200px;
}

@media   (min-width : 600px) {
    .sobre{
        display: inline-flex;
        text-align: center;
    }
    .content{
        flex: 1 0 auto;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    /* .footer{
        flex-shrink: 0;
        display: flex;
      text-align: center;
    } */
    iframe{
        width: 600px;
        height: 420px;
    }
    
    .explore h1,.explore .icon{
        font-size: 30pt;
    }
}
